@page "/IndexTask"
@using Blazor.Components
@using Data.Enums
<h3>Index</h3>


@if (taskDtos == null || assigneeDtos == null)
{
    <Loadingindicator></Loadingindicator>
}
else
{
    <div class="row">
        <EditForm Model="@TaskListSearch" OnSubmit="SearchFrom">
           <div class="row">
                <div class="col">
                    <label>name</label>
                    <InputText class="form-control" @bind-Value="TaskListSearch.name"></InputText>
                </div>
                <div class="col">
                    <label>assignee</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.AssigneeId">
                        <option>Select an assignee</option>
                        @foreach (var assignee in assigneeDtos)
                        {
                            <option value="@assignee.Id">@assignee.FullName</option>
                        }
                    </InputSelect>
                </div>
                <div class="col">
                    <label>Priority</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.Priority">
                        <option>Select an Priority</option>
                        @foreach (string item in Enum.GetNames(typeof(Priority)))
                        {
                            <option value="@item">@item</option>
                        }
                    </InputSelect>
                </div>
                <div class="col">
                    <button type="submit">Search</button>
                </div>
           </div>
        </EditForm>
    </div>
    <div class="row mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>Priority</th>
                    <th>Assignee</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in taskDtos)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.priority</td>
                        <td>@item.AssigneeName</td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyyy hh:mm")</td>
                        <td>@item.status</td>
                        <td>
                            <button @onclick="() => OnDeleteTask(item.Id)" >Delete</button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <Confirmation ConfimMessage= "Are you sure to delete?"
                  ConfimTitle="Delete Task"
                  @ref="DeleteConfirmation"
                  ConfirmChanged="OnConfirmDeleteTask"></Confirmation>
}
